*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
  font-size: 18pt;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 29px;
}

.sidebar {
    background-color: lightgray;
    width: 180px;
    height: 95%;
    position: absolute;
    float: left;
    max-width: 200px;
}

.room-list {
  position: relative;
  font-size: 12pt;
  font-family: Arial, sans-serif;;
  color: gray;
  margin-top: 5px;
  margin-bottom: 0;
}

.new-room-btn {
  position: relative;
  margin-left: 12px;
  margin-bottom: 25px;
}
