*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#chatName {
  font-size: 16pt;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#errorMessage {
  color: red;
  font-size: 13px;
  font-weight: lighter;
}

.sidebar {
    background-color: lightgray;
    width: 180px;
    height: 95%;
    position: absolute;
    float: left;
    max-width: 200px;
}

.room-list {
  position: relative;
  font-size: 15pt;
  font-family: Arial, sans-serif;
  color: gray;
  margin-bottom: 0;
}

.new-room-btn {
  position: relative;
  margin-left: 20px;
  margin-bottom: 25px;
}

.chatRoom {
  float: left;
  padding-left: 200px;
}

.currentRoomName {
  color: gray;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
}
